NEXT_PUBLIC_API_URL=http://localhost:5002/finify
NEXT_PUBLIC_CREDIT_RULE_API_URL=http://localhost:5005
NEXT_PUBLIC_ACCOUNTING_API_URL=http://localhost:5004
NEXT_PUBLIC_CONSUMER_API_URL=http://localhost:5003
NEXT_PUBLIC_SITE_URL=http://localhost:3100
